body {
    background-color: rgb(247, 244, 241);
}

header {
    display: flex;
    margin: -20px;
    color: white;
    background-color: black;
}

h2 {
    margin-left: 3%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

li {
    display: inline-block;
    margin: 10px;
}

h1 {
    margin-top: 3%;
    text-align: center;

}

form {
    margin: 50px auto;
    padding: 25px;
    height: 65vh;
    width: 50%;
    background-color: white;
    border: solid;
    border-width: 2px;
    border-radius: 8px;
}

label {
    font-weight: 600;
}

input {
    padding: 10px;
    width: 95%;
    margin-bottom: 10px;
    border-color: black;
    border-radius: 8px;
}

input[type=submit] {
    margin-top: 10px;
    font-weight: bold;
    width: 20%;
    color: black;
    background-color: rgb(33, 181, 33);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

textarea {
    border-radius: 8px;
    border-color: black;
}