body {
    background-color: rgb(247, 244, 241);
}

header {
    display: flex;
    margin: -20px;
    color: white;
    background-color: black;
}

h2 {
    margin-left: 3%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

button{
    cursor: pointer;
}

li {
    display: inline-block;
    margin: 10px;
}

h1 {
    margin-top: 3%;
    text-align: center;
}

div {
    padding: 10px;
    width: 60%;
    margin: 0 auto;
    border: solid;
    border-color: black;
    border-radius: 8px;
    background-color: antiquewhite;
}

img {
    width: 100%;
    height: 80%;
}

h3 {
    margin-bottom: 1px;
}

#edit {
    height: 12%;
    width: 6%;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: blue;
}

#remove {
    height: 12%;
    width: 12%;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: red;
}