body {
    background-color: rgb(247, 244, 241);
}

header {
    display: flex;
    margin: -20px;
    color: white;
    background-color: black;
}

h2 {
    margin-left: 3%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

li {
    display: inline-block;
    margin: 10px;
}

h1 {
    margin-top: 3%;
    text-align: center;

}

form {
    height: 5vh;
    text-align: center;
    margin: 50px auto;
}

input[type=search] {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 100%;
    width: 40%;
}

input[type=submit] {
    margin-left: -8px;
    height: 100%;
    width: 5%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

#card_stack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 110vh;
    width: 90%;
    background-color: white;
}

.cards {
    border: solid;
    border-radius: 8px;
    background-color: antiquewhite;
    padding: 5px;
    width: 30%;
    height: 45%;
    margin: 15px;
}

.animal {
    height: 75%;
    width: 100%;
}

h3 {
    margin-top: 2px;
    margin-bottom: 2px;
}

p {
    margin: 5px;
}

button {
    font-weight: bold;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 8px;
    background-color: blue;
    color: white;
    cursor: pointer;
}